<div class="container">
<section class="row mt-5 text-center">
<div class="col-md-6 m-auto">
<h1 class="fas fa-code fa-5x">
<h1 class="display-4">IRE-Game API</h1>
<a href="https://documenter.getpostman.com/view/7021636/Tz5wVu7B" class="btn btn-primary btn-block">Click To Visit The Documentation Page</a>
</div>
</section>
</div>