<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>IRE-Game API</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="../../bootstrap.min.css" rel="stylesheet">
        <link href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" rel="stylesheet">
    </head>
    <body class="container-fluid">
        <div class="container-fluid">
            <section class="row mt-5 text-center">
                <div class="col-md-6 m-auto">
                    <h2 class="fas fa-user-circle fa-5x"></h2>
                    <h2 class="display-4">IRE-Game API {{page}}</h2>
                </div>
            </section>
            <section class="row mt-2 text-center">
                <div class="col-md-6 m-auto">
                     {{{body}}}
                </div>
            </section>
        </div>
    </body>
</html>